<!DOCTYPE html>
<html>
  <head>
    <title>Reco</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <%= if flsh[:notice]%>
  <div class="notification is-primary global-notification">
  <p class="notice"><%= notice %></p>
  </div>
  <% end %>
  <% if flash[:alert]%>
  <div class="alert"><%= alert %></p>
  </div>
  <% end %>
    <%= yield %>
  </body>
</html>
